@use 'variaveis';

.faq {
    padding: 3vw 5.6vw; /* Adiciona padding para centralizar */
    display: flex;
    justify-content: center;

    &__questions {
        width: 100%; 
        max-width: 800px; /* Limita a largura do bloco de perguntas */
        
        &__item {
            background-color: variaveis.$corDeFundoFaqQuestion;
            margin-bottom: 16px;
            
            &__question {
                color: variaveis.$corTextoSecundario;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;
                
                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height .5s ease;
                color: variaveis.$corTextoSecundario;
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-';
                }
                
                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height .5s ease;
                }
            }
        }
    }
}