$corDeFundo: #000;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #0c3666;
$corDeFundoBotaoSecundario: #16073b;
$corDeFundoBotaoDark: #000;
$corDeFundoFaqQuestion: #13151d;