@use 'variaveis';
@use 'hero';
@use 'options';
@use 'header';
@use 'faq';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
    font-family: 'Roboto', sans-serif;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoSecundario;
    font-weight: 400;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoPrincipal;
    font-weight: 900;
}

.text--large {
    @include text(20px);

    @media (max-width: 768px) {
        @include text(16px);
    }
}

.title--large {
    @include title(56px);
    line-height: 1.1;

    @media (max-width: 768px) {
        @include title(36px);
    }
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
} 

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
    min-width: 150px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corDeFundoBotaoPrimario;
}

.button--dark {
    background-color: variaveis.$corDeFundoBotaoDark;
    color: variaveis.$corTextoSecundario;
    border-color: variaveis.$corTextoSecundario;
}